<?xml version="1.0"?>
<model>
  <name>medicine</name>  <!-- 修正：从 camera 改为 medicine -->
  <version>1.0</version>
  <sdf version="1.7">medicine.sdf</sdf>
  <author>
    <name>leon</name>
    <email>yuanyangyao790@gmail.com</email>
  </author>
  <description>
    Gsing 2026 vision medicine cube
  </description>
</model>